.item {
  
}

.item:last-of-type {
 
}

.users {
  padding: 5px;
  width: 685px;
}

.buttonsContainer {
  display: flex;
  justify-content: end;

  margin-bottom: 18px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 706px;
}

.thead {
  text-align: left;

  background-color: #e5e5e5;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.nameCol {
  padding: 15px;

  border-bottom: 2px solid #e5e5e5;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.ageCol {
  padding: 15px;

  border-bottom: 2px solid #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
