.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  select {
    width: 39px;
    margin-right: 3px;
  }
}

.text1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.text2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
